:root {
  --blue: rgb(26, 57, 87);
  --white: rgb(236, 236, 236);
  --navy: #002244;
  --indigo: #6f00ff;
  --dallasBlue: #002244;
  --pendoneBlue: #0018a8;
  --milleniumBlue: #002244;
  --neonBlue: #4d4dff;
  --pacificBlue: #1ca9c9;
}

body.Light {
  --background-color: var(--white);
  --text-color: var(--blue);
  --font-weight: 400;
}

body.Dark {
  --background-color: var(--blue);
  --text-color: var(--white);
  --font-weight: 500;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}
